html {
  font-size: 62.5%;
}

/* STRUCTURE */

body {
  font-family: 'PT Sans', sans-serif;
  color: rgba(0, 0, 0, .6);
  font-size: 1.6rem;
  margin: 0;
}

header {
  background-color: #ff9b8e;
  border: 1px solid #ff9b8e;
  padding: 0 16px;
}

main {
  padding: 0 16px;
}

img {
  max-width: 100%;
}

/* GENERAL TYPOGRAPHY */

h1 {
  font-family: 'Nunito', sans-serif;
  color: black;
  font-weight: 800;
}

h2 {
  font-family: 'Nunito', sans-serif;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 48px;
}

h3 {
  font-family: 'Nunito', sans-serif;
  color: black;
  font-weight: 800;
  font-size: 2.4rem;
}

.subtitle {
  font-family: 'Nunito', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 4px 0 24px;
}

.intro {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: black;
}

p {
  line-height: 1.4;
}

a.text-link {
  font-family: 'Nunito', sans-serif;
  color: #ff9b8e;
  text-decoration: none;
  font-size: 1.8rem;
  border-bottom: 2px solid #ff9b8e;
}

.back-to-top {
  text-align: right;
  margin: 0 16px 32px 0;
}

.back-to-top a {
  font-family: 'Nunito', sans-serif;
  color: #ff9b8e;
  text-decoration: none;
  font-size: 1.4rem;
  border-bottom: 2px solid #ff9b8e;
}

/* ABOUT */

.about .logo {
  text-align: center;
  margin-top: 32px;
}

/* KITTEN CARDS */

.kittens .card {
  border: 1px solid #ff9b8e;
  padding: 16px;
  margin: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.kittens .card h3 {
  margin: 8px 0 0;
}

.kittens .card figure {
  margin: 0;
}

.kittens .card figcaption {
  margin: 16px 0 8px;
}

.kittens .card a {
  background-color: #ff9b8e49;
  border: 2px solid #ff9b8e;
  padding: 16px 24px;
  color: black;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  border-radius: 32px;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  margin: 16px 0;
}

/* FOOTER */

footer {
  background-color: black;
  padding: 32px 16px;
  margin-top: 32px;
  color: rgba(256, 256, 256, .8);
}

footer h3,
footer a {
  color: rgba(256, 256, 256, .8);
}

footer .disclaimer {
  text-align: center;
  margin-top: 32px;
}

footer .disclaimer img {
  width: 100px;
  margin: 0;
}


/* Medium devices (ipads, 768px and up) */
@media only screen and (min-width: 768px) {
  header,
  main {
    padding: 0 32px;
  }

  .about {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
  }

  .about .content {
    width: 70%;
  }

  .kittens .container {
    display: flex;
    flex-wrap: wrap;
  }

  .kittens .card-group {
    width: 50%;
  }

  .back-to-top {
    display: none;
  }

  footer {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer .rescue,
  footer .care {
    width: 40%;
  }
}

/* Large devices (small laptops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .about {
    justify-content: center;
  }
  .about .content {
    width: 50%;
  }
  .kittens .card-group {
    width: 25%;
  }

  footer {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  footer .rescue,
  footer .care {
    width: 30%;
  }

  footer .disclaimer {
    width: 25%;
    margin-top: 15px;
  }
}